{% extends "remapp/base.html" %}

{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/netdicom-nodes.html"
               target="_blank" data-toggle="tooltip"
               title="DICOM store documentation - opens in a new tab">
                DICOM Store documentation (Advanced)
            </a>
        </li>
{% endblock %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block mainblock %}		

      <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h3>Create or modify local DICOM Store Service Class Providers</h3>
            <p>
                Use this form to create or modify the details of the DICOM store node you are using
                on this server. This would normally be a third-party server such as Conquest.
                Configuring the details of the DICOM store node here enables the OpenREM
                DICOM query-retrieve functionality to work.
            </p>
            <p>
                Advanced users can use the experimental DICOM store services built-in to OpenREM -
                see the advanced section below and
                <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/netdicom-nodes.html"
                   target="_blank" data-toggle="tooltip"
                   title="DICOM Store documentation - opens in a new tab">
                    the documentation.
                </a>
            </p>

            {% if admin.admingroup %}
                {% load crispy_forms_tags %}
                {% crispy form %}
            {% else %}
                <p>
                    <strong>Only users in the Admin group can create or modify DICOM Store SCP entries.</strong>
                </p>
            {% endif %}
        </div>
      </div>


{% endblock %}	
