{% extends "remapp/base.html" %}
{% block navdx %}<li class="active">{% endblock %}


{% block mainblock %}		

<h1>Detail list of events</h1>

<ul>
    <li>
        Accession number:
        {% if not generalstudymoduleattr.accession_hashed %}
            {{ generalstudymoduleattr.accession_number }}
        {% else %}
            <i>hidden</i>
        {% endif %}
    </li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time|date:"H:i" }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_age_decimal|floatformat:1 }} years</li>
    <li>Patient height and weight: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_size|floatformat:2 }} m, {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_weight|floatformat:1 }} kg</li>
    <li>Hospital: {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.institution_name }}</li>
    <li>
        X-ray system:
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.station_name }}
    </li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Operator(s): {{ generalstudymoduleattr.operator_name }}</li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
</ul>
<div class="row">
  <div class="col-md-3">
    <table class="table table-condensed table-bordered small">
      <tr>
        <th>Total number of events</th>
        <td>{{ generalstudymoduleattr.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.total_number_of_radiographic_frames }}</td>
      </tr>
      <tr>
        <th>Total DAP </th>
        <td>{{ generalstudymoduleattr.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.convert_gym2_to_cgycm2|floatformat:1 }} cGy&middot;cm<sup>2</sup></td>
      </tr>
    </table>
  </div>
</div>

<table class="table table-striped table-bordered small">
    <th>Time</th>
    <th>Acquisition protocol</th>
    <th>
      Anatomy, laterality <br>
      Targe region <br>
      View
    </th>
    <th>kVp</th>
    <th>mAs</th>
    <th>mA</th>
    <th>Time<br>(ms)</th>
    <th>Filters<br>(mm)</th>
    <th>SID<br>(mm)</th>
    <th>Grid FD<br>(mm)</th>
    <th>Exposure Index<br>IEC</th>
    <th>Exposure Index<br>vendor</th>
    <th>DAP<br>(cGy.cm<sup>2</sup>)</th>
    <th>Control mode</th>
    <th>Comment</th>
    {% for event in generalstudymoduleattr.projectionxrayradiationdose_set.get.irradeventxraydata_set.all %}
    <tr>
        <td>{{ event.date_time_started|time:"H:i.s" }}</td>
        <td>{{ event.acquisition_protocol }}</td>
        <td>
          {% if event.anatomical_structure %} {{ event.anatomical_structure }} {% endif %}
          {% if event.laterality %}{{ event.laterality }} {% endif %}<br>
          {% if event.target_region %}{{ event.target_region }} {% endif %}<br>
          {% if event.image_view %}{{ event.image_view }} {% endif %}
        </td>
        <td>{{ event.irradeventxraysourcedata_set.get.kvp_set.get.kvp|floatformat:0 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_set.get.convert_uAs_to_mAs|floatformat:1 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.average_xray_tube_current|floatformat:0 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_time|floatformat:0 }}</td>
        <td>
            {% for xrayfilt in event.irradeventxraysourcedata_set.get.xrayfilters_set.all %}
                {% if xrayfilt.xray_filter_material.code_value == 'C-120F9' %}
                    Al: {{ xrayfilt.xray_filter_thickness_minimum|floatformat:2 }} - {{ xrayfilt.xray_filter_thickness_maximum|floatformat:2 }} <br>
                {% elif xrayfilt.xray_filter_material.code_value == 'C-127F9' %}
                    Cu: {{ xrayfilt.xray_filter_thickness_minimum|floatformat:2 }} - {{ xrayfilt.xray_filter_thickness_maximum|floatformat:2 }} <br>
                {% else %}
                    {{ xrayfilt.xray_filter_material.code_meaning }}: {{ xrayfilt.xray_filter_thickness_minimum|floatformat:2 }} - {{ xrayfilt.xray_filter_thickness_maximum|floatformat:2 }} <br>
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ event.irradeventxraymechanicaldata_set.get.doserelateddistancemeasurements_set.get.distance_source_to_detector|floatformat:0 }}</td>
        <td>
            {{ event.irradeventxraysourcedata_set.get.grid_focal_distance|floatformat:0 }}
        </td>
        <td>
            EI: {{ event.irradeventxraydetectordata_set.get.exposure_index|floatformat:1 }} <br>
            EI<sub>T</sub>: {{ event.irradeventxraydetectordata_set.get.target_exposure_index|floatformat:1 }} <br>
            DI: {{ event.irradeventxraydetectordata_set.get.deviation_index|floatformat:1 }}
        </td>
        <td>
            {{ event.irradeventxraydetectordata_set.get.relative_xray_exposure|floatformat:0 }}
            {{ event.irradeventxraydetectordata_set.get.relative_exposure_unit }}
        </td>
        <td>{{ event.convert_gym2_to_cgycm2|floatformat:1 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_control_mode }}</td>
        <td>{{ event.comment }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}	
